# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
.settings

# Sublime
*.sublime*
